body {
    margin: 0;
    padding: 0;
    background-image: url("imagenes/f.jpg");
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}


header {
    width: auto;
    height: 100px;
    overflow: hidden;
    margin-bottom: 10px;
    margin: 0%;
    position: relative;
    background-color: blanchedalmond;
    padding: 10px;
}

.menuSuperior {
    height: 100px;
    width: 50%;
    max-width: 750px;
    margin: auto;
}
header .titulo{
    font-size: 20px;
    line-height: 50px;
    float: left;
    font-family: 'ABeeZee', sans-serif;
}
header .logo {
    color: orange;
    font-size: 50px;
    line-height: 100px;
    float: center;
    font-family: 'ABeeZee', sans-serif;
}
header nav a:hover {
    background: orangered;
    border-radius: 50px;
}

header nav {
    font-family: 'ABeeZee', sans-serif;
    float: right;
    line-height: 100px;
}

header nav a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;

}
.titulo1{
    position: absolute;
    top: 80px;
    left: 20px;
    right: 40%;
    font-size: 40px;
    font-family: 'ABeeZee', sans-serif;
    color: white;

}
.descrip{
    position: absolute;
    top: 650px;
    left: 20px;
    right: 40%;
    font-size: 40px;
    font-family: 'ABeeZee', sans-serif;
    color: white;

}
.google{
    font-size: 50px;

}
.google:visited{
    color: red;
}
img{
    width: 100%;
}
h2{
    color: orange;
}